0x00-python-hello_world/main.py
0x00-python-hello_world/test.py
0x02-python-import_modules/add_0.py
0x02-python-import_modules/calculator_1.py
0x02-python-import_modules/__pycache__/calculator_1.cpython-38.pyc
0x03-python-data_structures/__pycache__/0-print_list_integer.cpython-38.pyc
0x03-python-data_structures/__pycache__/1-element_at.cpython-38.pyc
0x03-python-data_structures/__pycache__/2-replace_in_list.cpython-38.pyc
0x03-python-data_structures/__pycache__/3-print_reversed_list_integer.cpython-38.pyc
0x03-python-data_structures/__pycache__/4-new_in_list.cpython-38.pyc
0x03-python-data_structures/__pycache__/5-no_c.cpython-38.pyc
0x03-python-data_structures/__pycache__/6-print_matrix_integer.cpython-38.pyc
